.m-preview {
    border: 0;
    width: 371px;
    height: 775px;
    position: fixed;
    right: 5%;
    top: 50%;
    margin-top: -388px;
    background: url(../img/iphone.png) center /100% no-repeat;
}
iframe{
    width: 320px;
	height: 549px;
    position: absolute;
	top: 109px;
	left: 23px;
	overflow: hidden;
}